<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static"
     data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Nickname</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert" *ngIf="alert"><strong>Warning</strong> The username exists</div>
        <br>
        <label for="logininput">Please enter nickname</label><br>
        <input id="logininput" [(ngModel)]="user"/>
        <br><br>
      </div>
      <div class="modal-footer">
        <button id="loginbut" type="button" class="btn btn-success" (click)="addUser()" (keyup.enter)="addUser()">
          Login
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container" style="font-family:Verdana">
  <div class="row " style="padding-top:40px;">
    <h3 class="text-center">Nice little chat </h3>
    <br/><br/>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          ONLINE USERS
        </div>
        <div class="panel-body">
          <ul class="media-list">

            <li class="media" *ngFor="let user of users">

              <div class="media-body">

                <div class="media">
                  <a class="pull-left" href="#">
                    <img class="media-object img-circle" style="max-height:40px;"
                         src="https://api.adorable.io/avatars/64/{{user}}"/>
                  </a>
                  <div class="media-body">
                    <h5>{{user}} </h5>

                    <small class="text-muted">Active From 3 hours</small>
                  </div>
                </div>

              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <div class="col-md-8">
      <div class="panel panel-info">
        <div class="panel-heading">
          RECENT CHAT HISTORY
        </div>
        <div class="panel-body pre-scrollable" style="max-height: 69vh !important;">
          <ul class="media-list">

            <li class="media" *ngFor="let message of messages">

              <div class="media-body">

                <div class="media">
                  <a class="pull-left" href="#">
                    <img class="media-object img-circle "
                         src="https://api.adorable.io/avatars/64/{{message.username}}"/>
                  </a>
                  <div class="media-body">
                    {{message.text}}
                    <br/>
                    <small class="text-muted">{{message.username}} | {{message.date | timestampconv | date:'medium'}}
                    </small>
                    <hr/>
                  </div>
                </div>

              </div>
            </li>

          </ul>
          {{wrUsObs|async | writingusers:user}}
        </div>
        <div class="panel-footer" style="">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter Message" [(ngModel)]="message"
                   (focusout)="userIsWriting(false)" (focusin)="userIsWriting(true)"/>
            <span class="input-group-btn">
                                        <button class="btn btn-info" type="button" (click)="sendMessage()"
                                                (keyup.enter)="sendMessage()">SEND</button>
                                    </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
